:root {
  --primary-color: hsl(191.8, 100%, 40.8%);
  --bg-color: hsl(191.8, 100%, 100%);
  --text-color: hsl(191.8, 100%, 10.8%);
  --white:  hsl(191.8, 100%, 98%);
}

html {
  font-family: sans-serif
}

body {
  color: var(--text-color);
  font-size: 14px;
  background-color: var(--bg-color);
  margin: 0;
}

header {
  padding: 1em;
  background: var(--primary-color);
  color: var(--white);
}

a {
  color: var(--primary-color);
}

footer {
  padding: 0.8em;
  font-size: 1em;
  border-top: 1px solid var(--primary-color);
}

h1 {
  margin: 0;
  padding: 10px 0;
}

.container {
  display: grid;
  padding: 1em;
  background-color: var(--bg-color);
  grid-template-columns: 1fr 1fr;
}

#source_content {
  height: 50vh;
}

#source_content,
#target_content {
  padding: 1em;
  font-size: 1.2em;
  resize: none;
  color: var(--text-color);
}

button {
  padding: 10px;
  font-weight: 800;
  color: var(--primary-color);
}

progress {
  height: 4px;
  width: 100%;
  display: none;
}
